.avatar{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-right: 50px;
}

.single-avatar{
   display: flex;
   justify-self: start;
   
}

/* .user-info{
    background-color: #fafafa;
} */

h4, h5 {
    font-weight: 700;
    font-family: Hind, sans-serif;
    color: black;
    line-height: 1.4;
    margin: 0 0 15px;
  }
.user-info-text{
    color: #515769;
}
  h5 {
    margin-left: 60px;
    padding-top: 20px;
  }