.cup{
    background-image: url('../../../common/images/cup.png');
    background-color: #3dad4b;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    
}

.review{
    background-image: url('../../../common/images/review.png');
    background-color:#f76567;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
}

.community{
    background-image: url('../../../common/images/community.png');
    background-color: #5cbcf6;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
}